In [14]:
#read csv
import pandas as pd
allRaces = pd.read_csv("races.csv")
allRaces.size

166609

In [15]:
drivenRaces = pd.read_csv("races.csv", sep=";", usecols=['id','race_driven'])
drivenRaces.dropna(how="all")

#validate dataframe
drivenRacesWithValidTimeStamps = drivenRaces.loc[drivenRaces['race_driven'] != "0000-00-00 00:00:00"]
drivenRacesWithValidTimeStamps

            id       race_driven
0            1  06.03.2012 00:00
1            2  06.03.2012 00:03
3            4  06.03.2012 00:06
5            6  06.03.2012 00:17
8            9  06.03.2012 00:08
9           10  06.03.2012 00:10
10          11  06.03.2012 00:11
11          12  06.03.2012 00:15
12          13  06.03.2012 00:21
13          14  06.03.2012 00:20
14          15  06.03.2012 00:24
15          16  06.03.2012 00:25
18          19  06.03.2012 00:30
19          20  06.03.2012 00:41
20          21  06.03.2012 00:41
21          22  06.03.2012 00:41
23          24  06.03.2012 00:43
25          26  06.03.2012 00:47
27          28  06.03.2012 07:25
28          29  06.03.2012 00:51
29          30  06.03.2012 00:55
30          31  06.03.2012 00:55
33          34  06.03.2012 05:21
36          37  06.03.2012 06:50
37          38  06.03.2012 06:50
40          41  06.03.2012 08:34
41          42  06.03.2012 07:42
42          43  06.03.2012 14:31
43          44  06.03.2012 08:21
48          49  06.03.2012 08:32
...        ...               ...
166563  166564  18.04.2017 01:15
166564  166565  18.04.2017 01:16
166565  166566  18.04.2017 01:17
166566  166567  18.04.2017 01:19
166568  166569  18.04.2017 18:28
166569  166570  05.05.2017 08:51
166572  166573  05.05.2017 22:25
166574  166575  07.05.2017 20:24
166576  166577  08.05.2017 16:26
166577  166578  08.05.2017 17:38
166578  166579  06.05.2017 23:05
166579  166580  08.05.2017 08:57
166583  166584  12.05.2017 16:50
166586  166587  22.05.2017 00:59
166587  166588  17.05.2017 22:56
166588  166589  17.05.2017 23:00
166589  166590  17.05.2017 22:58
166592  166593  31.05.2017 20:56
166593  166594  23.05.2017 16:35
166594  166595  22.05.2017 00:58
166595  166596  22.05.2017 00:57
166596  166597  06.06.2017 00:01
166598  166599  06.06.2017 00:00
166599  166600  08.06.2017 22:01
166600  166601  12.06.2017 01:54
166601  166602  12.06.2017 17:48
166603  166604  13.06.2017 18:40
166604  166605  14.06.2017 01:55
166605  166606  26.06.2017 20:54
166607  166608  24.06.2017 21:22

[109099 rows x 2 columns]

In [16]:
firstDrivenRace = min(drivenRacesWithValidTimeStamps['race_driven'])
firstDrivenRace

'01.01.2013 00:43'

In [17]:
lastDrivenRace = max(drivenRacesWithValidTimeStamps['race_driven'])
lastDrivenRace

'31.12.2016 13:58'

In [13]:
drivenRacesWithValidTimeStamps.loc[:,'race_driven'] = pd.DataFrame(drivenRacesWithValidTimeStamps['race_driven'])
drivenRacesWithValidTimeStamps.loc[:,'race_driven'] = pd.to_datetime(drivenRacesWithValidTimeStamps['race_driven']).dt.date
#drivenRacesWithValidTimeStamps

driven_races_per_day = drivenRacesWithValidTimeStamps['race_driven'].value_counts().sort_index()
driven_races_per_day

/Users/michaelrothkegel/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

1631